body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(241, 140, 140);
}

input{
    width: 70px;
    padding: 5px;
    margin: 5px;
}

#resultado{
    margin-top: 20px;
}